<div class="todo-list">
  <input
    class="todo-input"
    type="text"
    [(ngModel)]="todoTitle"
    (keyup.enter)="addTodo()"
  >

  <div class="todo-control-info">
    <ul class="todo-filter">
      <li class="todo-filter-type">
        <input
          id="todo-filter-all"
          name="todo-filter"
          type="radio"
          [value]="0"
          [(ngModel)]="filterType"
        >
        <label class="start" for="todo-filter-all">All</label>
      </li>
      <li class="todo-filter-type">
        <input
          id="todo-filter-remaining"
          name="todo-filter"
          type="radio"
          [value]="1"
          [(ngModel)]="filterType"
        >
        <label for="todo-filter-remaining">Remaining</label>
      </li>
      <li class="todo-filter-type">
        <input
          id="todo-filter-completed"
          name="todo-filter"
          type="radio"
          [value]="2"
          [(ngModel)]="filterType"
        >
        <label class="end" for="todo-filter-completed">Completed</label>
      </li>
    </ul>

    <span class="todo-count">
      {{ numberOfRemainingTodos() }} items remaining
    </span>
  </div>

  <div class="todo-check-clear-controls">
    <span class="todo-check-control">
      <input
        id="check-all-todo"
        type="checkbox"
        (change)="checkUncheckAllTodos()"
      >
      <label for="check-all-todo">Check all</label>
    </span>

    <input
      class="todo-clear-control"
      type="button"
      value="Clear completed"
      (click)="clearCompletedTodos()"
    >
  </div>

  <ul class="todo-list-item-list">
    <li *ngFor="let todo of filteredTodos()" class="todo-list-item">
      <input
        class="todo-check"
        type="checkbox"
        [(ngModel)]="todo.completed"
      >
      <span class="todo-title">{{ todo.title }}</span>
      <a
        class="todo-remove"
        href="javascript:void(0)"
        (click)="deleteTodo(todo.id)"
      >
        ×
      </a>
    </li>
  </ul>
</div>
